@import '../base';

.body-main {
  max-width: 1024px;
  margin: 0 auto;
}

.search-header {
  background-color: $search-header-color;
  padding: 7px 0;

  .header-container {
    margin: 0 auto;
    white-space: nowrap;
    max-width: 1024px;

    .header-logo {
      display: inline-block;
      overflow: hidden;
      min-width: 74px;
      width: 5%;
      height: 36px;
      position: relative;
      margin-top: 5px;

      &::before {
        width: 53px;
        height: 36px;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background-image: $header-logo-img;
        background-repeat: no-repeat;
        padding: 7px 0;
      }
    }

    .search-form {
      display: inline-block;
      position: relative;
      vertical-align: top;
      max-width: 950px;
      width: 95%;
      height: 78%;
      padding: 5px 43px 5px;

      .search-input {
        width: 100%;
        height: 36px;
        font-size: $search-input-font-size;
        font-weight: 300;
        vertical-align: top;
        padding: 0 20px;
        border: none;
        border-radius: 3px;
        outline: none;
      }

      .search-button {
        cursor: pointer;
        background-color: $search-button-background-color;
        border: none;
        margin-left: -7px;
        padding: 10px 12px;
        width: 44px;
        height: 36px;
        vertical-align: top;

        .search-img {
          display: block;
          background-image: $search-img;
          background-repeat: no-repeat;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}


